/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button {
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  transition: transform 0.3s ease;
}

.core {
  transition-delay: 0.03s;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.main-body {
  transition-delay: 0s;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.contour {
  transition-delay: 0s;
  transition-property: fill;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.heart:hover .core {
  transition-delay: 0s;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: var(--main-color);
}

.heart:hover .main-body {
  transition-delay: 0.05s;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: var(--main-color);
}

.heart:active .core {
  fill: var(--heart-red);
  transition: fill 0.3s linear;
}

.heart:active .main-body {
  fill: var(--heart-red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-red);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--heart-red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-red);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s alternate;
}

.like-icon.is-liked .heart {
  animation: like-scale 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

.button::before {
  transition: transform 0.5s ease-in-out;
}

@keyframes like-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes movingArrow {
  from {
    left: -15px;
  }
  to {
    left: -11px;
  }
}
