/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
button {
  appearance: none;
  background: none;
  font-family: var(--font-press);
}

button:focus {
  outline: none;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter), sans-serif;
  font-weight: var(--weight-main);
  background-image: repeating-linear-gradient(90deg, var(--gradient-grid) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    repeating-linear-gradient(var(--gradient-grid) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(var(--gradient-start), var(--gradient-end));
  background-size: cover;
  background-attachment: fixed;
  padding: 102px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.page > * {
  inline-size: clamp(375px, 48vw, 796px);
}

.header {
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) clamp(0.875rem, -1.4577rem + 9.9531vw, 7.5rem) 25px;
  font-family: var(--font-press);
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 54px;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title-decor {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title-name {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
}
.theme-menu__item {
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.theme-menu__button::after {
  transition: all 0.3s ease;
  content: "";
  display: block;
  background-color: var(--main-color);
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  animation: movingArrow 0.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes movingArrow {
  from {
    left: -15px;
  }
  to {
    left: -11px;
  }
}

.card {
  border: 2px solid var(--main-color);
  background-color: var(--background-color);
}

.card__title {
  font-weight: var(--weight-title);
  padding: 5px 10px;
}

.card__image-container {
  position: relative;
}

.card__label {
  font-family: var(--font-press);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  color: var(--main-color);
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 14px;
  text-shadow: -1px 0 0 var(--background-color), 1px 0 0 var(--background-color), 0 -1px 0 var(--background-color),
    0 1px 0 var(--background-color);
  /* position: relative; */
  z-index: 10;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--background-color);
    -webkit-text-stroke: 1px var(--background-color);
  }
}

.card__image {
  width: 100%;
  object-fit: cover;
}

.card:nth-child(2) .card__image {
  filter: sepia(80%);
}

.card:nth-child(3) .card__image {
  filter: hue-rotate(90deg);
}

.card:nth-child(4) .card__image {
  filter: contrast(1000%);
}

.card:nth-child(5) .card__image {
  filter: invert(70%);
}

.card:nth-child(6) .card__image {
  transition: filter 1s ease;
  filter: grayscale(50%);
}

.card:nth-child(6):hover .card__image {
  filter: none;
}

.card:nth-child(7) .card__image {
  filter: blur(5px);
  transition: filter 1s ease;
}

.card:nth-child(7):hover .card__image {
  filter: none;
}

.card:nth-child(8) .card__image {
  filter: opacity(25%);
  transition: filter 1s ease;
}

.card:nth-child(8):hover .card__image {
  filter: none;
}

.card__image-container {
  background-image: repeating-linear-gradient(90deg, var(--gradient-grid) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    repeating-linear-gradient(var(--gradient-grid) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(var(--gradient-start), var(--gradient-end));
}
.card__after-image-container {
  padding: 25px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 25px;
}

.card__buttons {
  display: flex;
  gap: 12px;
  justify-content: end;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.heart {
  cursor: pointer;
}

.core {
  transition-delay: 0.03s;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.main-body {
  transition-delay: 0s;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.contour {
  transition-delay: 0s;
  transition-property: fill;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.heart:hover .core {
  transition-delay: 0s;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: var(--main-color);
}

.heart:hover .main-body {
  transition-delay: 0.05s;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  fill: var(--main-color);
}

.heart:active .core {
  fill: var(--heart-red);
}

.heart:active .main-body {
  fill: var(--heart-red);
}

.like-icon.is-liked .contour,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-red);
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s alternate;
}

.like-icon.is-liked .heart {
  animation: like-scale 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

@keyframes like-scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.card__like-button:focus-visible,
.footer__button-save:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  transition: all 0.3s ease;
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
  block-size: 39px;
  line-height: 90%;
  /* text-transform: uppercase; */
  position: relative;
  /* font-size: 14px; */
}

.footer {
  display: flex;
  justify-content: center;
}

.footer__button-save {
  min-width: 306px;
  background-color: var(--background-color);
  padding: 15px 18px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.button__text,
.button-save__text,
.button-save__icon {
  mix-blend-mode: difference;
  position: relative;
  z-index: 5;
  color: var(--background-color);
  font-size: 14px;
}

.footer__button-save::before,
.card__like-button::before {
  transform: scaleX(0);
  transition: transform 0.3s ease;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: left;
  background-color: var(--main-color);
  position: absolute;
}

.card__like-button:hover::before,
.footer__button-save:hover::before {
  transform: scaleX(1);
}

.button-save__icon {
  inline-size: 21px;
}

.button-save__text {
  text-wrap: nowrap;
  font-size: 14px;
  line-height: 90%;
}

@media (max-width: 900px) {
  .footer__button-save {
    max-width: 306px;
  }
  .button-save__icon {
    inline-size: 28px;
  }
}

#dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

#dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: clamp(341px, 100%, 357px);
  height: 195px;
  background-color: var(--background-color);
  padding: 30px;
  border-color: transparent;
}

#dialog .button-save__icon {
  width: 39px;
  height: 39px;
}

.dialog-message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog-message-text {
  color: var(--main-color);
  font-family: var(--font-press);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  width: clamp(198px, 100%, 264px);
}

.dialog-button {
  padding: 9px 17px;
  font-size: 14px;
  text-transform: uppercase;
}

/* @media (width <= 375px) {
} */
