/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main, sans-serif);
  background-image: repeating-linear-gradient(90deg, var(--gradient-grid) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    repeating-linear-gradient(var(--gradient-grid) 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(var(--gradient-start), var(--gradient-end));
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color, #ffffff);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color, #000000);
  font-variation-settings: "wght" var(--weight-main, 400);
}

.page > * {
  inline-size: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
}

.header {
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--main-color, #000000);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-bottom: 21px;
  font-family: var(--font-accent, fantasy);
  gap: 21px;
  margin-bottom: 100px;
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.theme-menu {
  margin-inline: clamp(9.125rem, 5.516rem + 15.399vw, 19.375rem) auto;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  top: 1px;
  animation: movingArrow 0.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: var(--main-color);
  height: 2px;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.card {
  border: 2px solid var(--main-color, #000000);
  background-color: var(--background-color, #ffffff);
  font-size: 18px;
}

.card__title {
  font-variation-settings: "wght" var(--weight-title, 700);
  padding: 5px 10px;
  font-size: 18px;
  border-bottom: 2px solid var(--main-color, #00cc14);
}

.card__label {
  font-family: var(--font-accent, fantasy);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  color: var(--main-color, #000000);
  position: absolute;
  right: clamp(0.625rem, 0.295rem + 1.408vw, 1.563rem);
  top: 25px;
  font-size: 14px;
  text-shadow: -1px 0 0 var(--background-color, #ffffff), 1px 0 0 var(--background-color, #ffffff),
    0 -1px 0 var(--background-color, #ffffff), 0 1px 0 var(--background-color, #ffffff);
  z-index: 10;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--background-color, #ffffff);
    -webkit-text-stroke: 1px var(--background-color, #ffffff);
  }
}

.card__image-container {
  border-bottom: 2px solid var(--main-color, #00cc14);
  position: relative;
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
}

.sepia {
  filter: sepia(80%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.contrast {
  filter: contrast(1000%);
}

.invert {
  filter: invert(70%);
}

.invert-grayscale {
  transition: filter 1s ease;
  filter: grayscale(100%) invert(100%);
}

.invert-grayscale:hover {
  filter: none;
}

.blur {
  filter: blur(5px);
  transition: filter 1s ease;
}

.blur:hover {
  filter: none;
}

.opacity {
  filter: opacity(25%);
  transition: filter 1s ease;
}

.opacity:hover {
  filter: none;
}

.card__after-image-container {
  padding: 26px;
  line-height: 21px;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-bottom: 25px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
  padding: 0;
}

.heart {
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color, #000000);
}

.button {
  transition: box-shadow 0.3s ease;
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--main-color, #000000);
  position: relative;
  cursor: pointer;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color, #000000);
}

.button::before {
  transform: scaleX(0);
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform-origin: left;
  background-color: var(--main-color);
  position: absolute;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  padding: 9px 17px;
  min-inline-size: 130px;
  block-size: 39px;
  line-height: 90%;
}

.content__button-save {
  min-width: 306px;
  padding: 15px 18px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin: 0 auto;
}

.button__text,
.button-save__icon {
  mix-blend-mode: difference;
  position: relative;
  z-index: 5;
  color: var(--button-text-color, #ffffff);
  font-size: 14px;
}

.button-save__icon {
  inline-size: 21px;
}

.button-save__text {
  text-wrap: nowrap;
  font-size: 14px;
  line-height: 90%;
}

#dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

#dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  inline-size: clamp(21.313rem, 20.96rem + 1.502vw, 22.313rem);
  background-color: var(--background-color, #ffffff);
  padding: 30px;
  border-color: var(--main-color, #000000);
  border: 2px solid var(--main-color, #000000);
}

#dialog .button-save__icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog-message-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog-message-text {
  color: var(--main-color, #000000);
  font-family: var(--font-accent, fantasy);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  inline-size: clamp(198px, 100%, 264px);
}

.dialog-button {
  padding: 9px 17px;
  font-size: 14px;
  inline-size: 100%;
  text-transform: uppercase;
  color: var(--main-color, #000000);
  border: 2px solid var(--main-color, #000000);
}

@media (max-width: 375px) {
  .content__button-save {
    max-width: 306px;
  }

  #dialog[open] {
    padding: 30px 38px;
  }

  #dialog .button-save__icon {
    inline-size: 52px;
    block-size: 52px;
  }

  .content__button-save .button-save__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
