/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-dark {
  --weight-main: 465;
  --weight-title: 785;
  --background-color: #000000;
  --main-color: #00cc14;
  --gradient-grid: #000;
  --gradient-start: #007f0c;
  --gradient-end: #004306;
  --button-text-color: #00cc14;
}

:root.theme-light {
  --weight-main: 400;
  --weight-title: 700;
  --background-color: #ffffff;
  --main-color: #000000;
  --gradient-grid: #d3d3d3;
  --gradient-start: #e7e7e7 0 0.01%;
  --gradient-end: #1a1a1a;
  --button-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --weight-main: 465;
    --weight-title: 785;
    --background-color: #000000;
    --main-color: #00cc14;
    --gradient-grid: #000;
    --gradient-start: #007f0c;
    --gradient-end: #004306;
    --button-text-color: #00cc14;
  }
}
